    *{
        box-sizing:border-box;
        margin: 0;
        padding: 0;
    }

    html {
        position: relative;
        min-height: 100%;
      }
      
    body {
        font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
        font-size: 14px;

        background-image: url(images/bg-green-grass.jpg);
        background-position: center;
        background-size: 100%;
    }
      
    a {
          text-decoration: none;
          color: #0085cf;
    }

    @font-face{
        font-family:alarm;
        src:url(alarm.ttf);
        font-style:normal;
        font-weight:400;
    }

    .cuerpo {
        width: 100%;
        position: relative;
    }

    .cronometro{
       width:100%;
       top:0.5%;
       position:absolute;
       text-align:center;
       z-index: 99;
    } 
    .boton{display:inline-block;width:32px;height:32px;position:relative;}
    #hms{
       font-size:35px;
       color:#000;
       font-family:alarm;
    }
    .start{background:url(images/start.png) 0 0 no-repeat;}
    .stop{background:url(images/pause.png) 0 0 no-repeat;}
    .reiniciar{background:url(images/delete.png)0 0 no-repeat;}   

    .campo {
        display: flex;
        justify-content: start;
        position: relative;
        width: 100%;
        min-height: 700px;
        background-image: url(images/fondo.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .golesMFA {
        position: absolute;
        border: 5px solid #000;
        width: 65px;
        height: 50px;
        top: 1%;
        left: 3%;
        background-color: #fff;
        font-family: alarm;
        font-size: 40px;
        text-align: center;
    }
        .logoMFA {
            position: absolute;
            width: 45px;
            height: 50px;
            top: 1%;
            left: 21%;
            background-image: url(images/lofoFMA.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .logoOtros {
            position: absolute;
            width: 45px;
            height: 50px;
            top: 1%;
            left: 67%;
            background-image: url(images/escudo.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    .golesOtros {
        position: absolute;
        border: 5px solid #000;
        width: 65px;
        height: 50px;
        top: 1%;
        left: 79%;
        background-color: #fff;
        font-family: alarm;
        font-size: 40px;
        text-align: center;
        z-index: 999;
    }

    .jugador1 {
        position: absolute;
        border: 2px solid #FF0080;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: 45%;
        left: 43%;
        background-image: url(images/jugadora.jpg);
        background-size: 100%;    
    }
        .jugador1-gol {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 46%;
            left: 58%;
            background-image: url(images/pelota.jpg);
            background-size: 100%;    
        }
        .jugador1-cambio {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 50%;
            left: 58%;
            background-image: url(images/cambio.jpg);
            background-size: 100%;    
        }    

    .jugador2 {
        position: absolute;
        border: 2px solid #FF0080;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: 33%;
        left: 43%;
        background-image: url(images/jugadora.jpg);
        background-size: 100%;    
    }
        .jugador2-gol {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 34%;
            left: 58%;
            background-image: url(images/pelota.jpg);
            background-size: 100%;    
        }
        .jugador2-cambio {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 38%;
            left: 58%;
            background-image: url(images/cambio.jpg);
            background-size: 100%;    
        }    

    .jugador3 {
        position: absolute;
        border: 2px solid #FF0080;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: 24%;
        left: 12%;
        background-image: url(images/jugadora.jpg);
        background-size: 100%;    
    }
        .jugador3-gol {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 25%;
            left: 27%;
            background-image: url(images/pelota.jpg);
            background-size: 100%;    
        }
        .jugador3-cambio {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 29%;
            left: 27%;
            background-image: url(images/cambio.jpg);
            background-size: 100%;    
        }    

    .jugador4 {
        position: absolute;
        border: 2px solid #FF0080;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: 24%;
        left: 71%;
        background-image: url(images/jugadora.jpg);
        background-size: 100%;    
    }
        .jugador4-gol {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 25%;
            left: 86%;
            background-image: url(images/pelota.jpg);
            background-size: 100%;    
        }
        .jugador4-cambio {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 29%;
            left: 86%;
            background-image: url(images/cambio.jpg);
            background-size: 100%;    
        }    

    .jugador5 {
        position: absolute;
        border: 2px solid #FF0080;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: 17%;
        left: 43%;
        background-image: url(images/jugadora.jpg);
        background-size: 100%;    
    }
        .jugador5-gol {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 18%;
            left: 58%;
            background-image: url(images/pelota.jpg);
            background-size: 100%;    
        }
        .jugador5-cambio {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 22%;
            left: 58%;
            background-image: url(images/cambio.jpg);
            background-size: 100%;    
        }

    .nombre:before { 
        content: attr(data); 
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 0px 10px; 
        margin: 0;
    }

    .suplentes {
        position: absolute;
        border: 4px solid #FF0080;
        top: 58%;
        padding: 8px;
        padding-top: 15px;
        width: 100%;
    }
    .suplentes:before { 
        content: attr(data); 
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FF0080;
        color: #ffffff;
        padding: 0px 10px; 
        margin: 0;
    }
        
        .suplente {
            display: inline-block;
            position: relative;
            border: 2px solid #FF0080;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-image: url(images/jugadora.jpg);
            background-size: 100%;
            margin: 8px;
        }


    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 250px;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    select {
     background: transparent;
     font-size: 24px;
     padding: 10px;
     width: 100%;
    }


    .botones {
        margin: 20px;
        position: relative;
        top: 20px;
        padding-bottom: 20px;
    }

    #listGoles {
        display: none;
        width: 100%;
        min-height: 700px;
        position: relative;
        border: 4px solid #FF0080;
        margin-top: 5%;
        padding: 7px;
    }
        #listGoles:before { 
            content: attr(data); 
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #FF0080;
            color: #ffffff;
            padding: 0px 10px; 
            margin: 0;
        }

        .logoMFA2 {
            position: absolute;
            width: 45px;
            height: 60px;
            top: 1%;
            left: 21%;
            background-image: url(images/lofoFMA.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .logoOtros2 {
            position: absolute;
            width: 45px;
            height: 60px;
            top: 1%;
            left: 67%;
            background-image: url(images/escudo.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }

        #listJugadoresGoles {
            margin-top: 15%;
        }

        .divListGoles {
            width: 100%;
            height: 100px;
            position: relative;
        }
        .goleador {
            display: inline-block;
            position: relative;
            border: 2px solid #FF0080;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-image: url(images/jugadora.jpg);
            background-size: 100%;
            margin: 8px;
        }        
        .divListGoles span {
            margin-left: 35%;
            font-size: 20px;
            color: #fff;        
            font-weight: bold;
        }
        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    #config input {
        padding: 10px;
    }

    button {
        padding: 10px;
    }

    .listaBuenaFeDivs {
        width: 100%;
        position: relative;
        margin-top: 10px;
        color: #fff; 
        font-size: 18px;
        font-weight: bold;
    }
        .listaBuenaFeDivs input {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }